rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /surgeryPrices/{document=**} {
      allow read: if request.auth != null;
      allow create, update, delete: if request.auth != null
        && request.auth.token.email == "yaman615@gmail.com";
    }
  }
}
